.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.centered2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(133, 133, 211);
}
.corner{
  border-radius: 25px;
  border: 2px solid #33411f;
  padding: 10px;
}
@font-face {
  font-family: 'MyFont';
  src: local('public'), url(../public/font.ttf) format('tff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.form-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(133, 133, 211);
}
.actions
{
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items:normal;
  height: 200px;
  width:900px;
  padding:6px
  
}
.left_panel{
  width:50%;
  float:left;
  overflow: hidden;
  height: 100%;
}

.right_panel{
  width:50%;
  float:right;
  overflow: hidden;
  height: 100%;
  border: 2px;
  border-color: #282c34;
  
}

.form-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 133, 211);
}

.form-wrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.pad{
 
  margin-left: 600px;

  border-radius: 25px;
 
}

.corner2{
  border-radius: 25px;
  border: 2px solid #33411f;
  padding: 10px;
  margin-top: 8px;
}

.raport{
  margin-left: 200px;
 
}
.Clean{
  margin-top: -30px;
  color: rgb(26, 131, 201);
}
.Comm{
  color: rgb(70, 196, 59);

}

.scrollDiv {
  overflow-y: auto; 
  width: auto;
  height: 85%;
}